nav {
    /** min-height: 45px;  **/
    width: 100%;
    background-color: lightblue;
    font-size: medium;
    text-align: center;   
}


a {
    padding-left: 15px;
    padding-right: 15px;    
}

