<div >    
    <div>Keywords: </div>
    <input #keywordbox   >
    <button (click)="getNews(keywordbox.value)" >Refresh</button>
    <div>Total: {{news.totalResults }} </div>
    <hr>
    <div *ngIf="news.articles != null; else showNoNews">
        <div *ngFor='let n of news.articles '>
            <p>Source: {{ n.source.name }}</p>
            <p>Author: {{ n.author }}</p>
            <p>Time: {{ n.publishedAt }}</p>
            <p>Description: {{ n.description }}</p>
            <p>Content: {{ n.content }}</p>
            <a href="{{ n.url }}" target="_blank">{{ n.url }}</a>
            <hr>
        </div>
    </div>
    <ng-template #showNoNews>
        <p>There is no news</p>
    </ng-template>
</div>
